<html>
    <head>
        <title>The Judgemental Eye</title>
        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/main.css" rel="stylesheet">
    </head>
    <body>
        <div id="sidebar">
            <ul id = "sidebar_list">
                {% if profile_link%}
                <li><a href="/profile/{{profile_link}}">My profile</a></li>
                <li><a href="/clear">Sign out</a></li>
                {% else %}
                <li><a href="/">Sign in</a></li>
                {% endif %}
                <li><a href="/show_users">All users</a></li>
                <li><a href="/show_movies">All movies</a></li>
            </ul>
        </div>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        
    </body>
</html>
